
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container {
    background-color: greenyellow;
    width: 400px;
    height: 200px;
    border: 1px solid #000;
    overflow: hidden;
    position: center;
}

.item {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    text-align: center;
    animation: slideUpDown 4s ease-in-out infinite;
}

@keyframes slideUpDown {
    0% {
        top: 100%;
    }
    25% {
        top: 0;
    }
    50% {
        top: 0;
    }
    75% {
        top: 100%;
    }
    100% {
        top: 100%;
    }
}
